<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="">Monster<span>Travel</span></a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <span><i class="ri-menu-line"></i></span>
    </div>
  </div>

  <ul class="nav__links">
    <li><a href="#home">Home</a></li>
    <li><a href="#plan">Plan</a></li>
    <li><a href="#services">Services</a></li>
    <li><a href="#packages">Packages</a></li>
    <li><a href="#testimony">Reviews</a></li>
    <li><a href="#contact">Contact</a></li>
  </ul>

  <div class="nav__btns" *ngIf="isLoggedIn !== null">
    <!-- Show Sign Up if user is not logged in -->
    <button *ngIf="!isLoggedIn" class="btn sign__up" (click)="toggleLogin()">
      Sign Up
    </button>

    <!-- Show User Profile Icon with Dropdown Menu when logged in -->
    <div
      *ngIf="isLoggedIn"
      class="profile-menu"
      (mouseenter)="toggleDropdown(true)"
      (mouseleave)="toggleDropdown(false)"
    >
      <div class="profile-icon">
        <i class="ri-user-line"></i>
      </div>

      <ul class="dropdown_user_menu" *ngIf="showDropdown">
        <li>
          <a routerLink="/travels"
            ><i class="ri-calendar-event-line"></i> My Travels</a
          >
        </li>
        <li>
          <a routerLink="/flight-form"
            ><i class="ri-flight-takeoff-fill"></i> New Travel</a
          >
        </li>
        <li (click)="logout()"><i class="ri-logout-box-r-line"></i> Logout</li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet></router-outlet>
