img {
  display: flex;
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 0.3s;
}

.footer__logo a {
  font-size: 1.75rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
}

.footer__logo a span {
  color: var(--primary-color);
}

.header__container {
  max-width: var(--max-width);
  margin: auto;
  padding-block: 8rem 2rem;
  padding-inline: 1rem;
  display: grid;
  gap: 2rem;
  overflow-x: hidden;
}

.header__image {
  position: relative;
  isolation: isolate;
}

.header__image::before {
  position: absolute;
  content: "";
  width: 100%;
  max-width: 550px;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../../../../public/header-bg.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border-radius: 100%;
  opacity: 0.5;
  z-index: -1;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.header__image img {
  max-width: 520px;
  margin-inline: auto;
}

.header__image__card {
  position: absolute;
  padding: 0.75rem 1rem;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--text-dark);
  background-color: var(--white);
  white-space: nowrap;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header__image__card span {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__image__card-1 {
  top: 25%;
  left: 3rem;
  transform: translate(-50%, -50%);
}

.header__image__card-2 {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.header__image__card-3 {
  top: 60%;
  left: 0;
  transform: translateY(-50%);
}

.header__image__card-4 {
  bottom: 2rem;
  right: 8rem;
  transform: translateY(-50%);
}

.header__image__card-5 {
  top: 20%;
  right: 2rem;
  transform: translateY(-50%);
}

.header__content h1 {
  margin-bottom: 1rem;
  font-size: 5rem;
  font-weight: 400;
  font-family: var(--header-font);
  color: var(--text-dark);
  line-height: 5.5rem;
  text-align: center;
}

.header__content h1 span {
  color: var(--primary-color);
}

.header__content p {
  margin-bottom: 2rem;
  columns: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.header__content form {
  margin-bottom: 4rem;
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  gap: 1rem 0;
  border-radius: calc(1rem + 10px);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.header__content .input__row {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
  flex: 1;
}

.header__content .input__group {
  flex: 1;
}

.header__content .input__group h5 {
  margin-bottom: 5px;
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
}

.header__content .input__group > div {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__content input {
  width: 100%;
  outline: none;
  border: none;
  font-size: 1rem;
  background-color: transparent;
}

.header__content input::placeholder {
  font-weight: 600;
  color: var(--text-dark);
}

.header__content .input__group span {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--primary-color);
}

.header__content button {
  width: 100%;
  padding: 1rem 2rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.header__content button:hover {
  background-color: var(--primary-color-dark);
}

.header__content .bar {
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

.section__container {
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}

.section__header {
  max-width: 900px;
  margin-inline: auto;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--text-dark);
  text-align: center;
}

.section__header span {
  color: var(--primary-color);
}

.section__description {
  max-width: 600px;
  margin-inline: auto;
  color: var(--text-light);
  line-height: 1.75rem;
  text-align: center;
}

.steps {
  background-image: url("../../../../public/steps-bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.steps__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.steps__card {
  padding: 1rem;
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
}

.steps__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 100%;
}

.steps__card:nth-child(1) span {
  color: #fa4e09;
  background-color: #fff9f6;
}

.steps__card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.steps__card:nth-child(3) span {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.steps__card:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.steps__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.steps__card p {
  color: var(--text-light);
}

.explore__grid {
  margin-block: 4rem;
  display: grid;
  gap: 1rem;
}

.explore__card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.explore__card:hover {
  background-color: #ffe4b5;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.explore__card span {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 5px 11px;
  font-size: 1.5rem;
  border-radius: 5px;
  transition: 0.3s;
}

.explore__card:nth-child(1) span {
  color: #f04a0c;
  background-color: #f6efef;
}

.explore__card:nth-child(2) span {
  color: #6a38c2;
  background-color: #e9ddff;
}

.explore__card:nth-child(3) span {
  color: #ff0101;
  background-color: #fff2f2;
}

.explore__card:nth-child(4) span {
  color: #fbbc09;
  background-color: #fff8e3;
}

.explore__card:nth-child(5) span {
  color: #4680e7;
  background-color: #e7edf8;
}

.explore__card:nth-child(6) span {
  color: #34a753;
  background-color: #f1fef5;
}

.explore__card:nth-child(7) span {
  color: #443ee0;
  background-color: #f6f5ff;
}

.explore__card:nth-child(8) span {
  color: #3ac2ba;
  background-color: #f0fffe;
}

.explore__card:hover span {
  color: var(--white);
  background-color: var(--primary-color);
}

.explore__card h4 {
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
  transition: 0.3s;
}

.explore__card p {
  color: var(--text-light);
  transition: 0.3s;
}

.offer__grid {
  margin-top: 4rem;
  display: grid;
  gap: 2rem 1rem;
}

.offer__card {
  transition: transform 0.3s ease-in-out;
}

.offer__card:hover {
  transform: scale(1.05) !important;
}

.offer__card img {
  margin-bottom: 1rem;
  border-radius: 5px;
  width: 355px;
  height: 252px;
}

.offer__details {
  display: flex;
  align-items: flex-start;
}

.offer__details span {
  font-size: 2rem;
  font-weight: 800;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px var(--text-dark);
  padding-right: 1rem;
}

.offer__details div {
  padding-left: 1rem;
  border-left: 2px solid var(--primary-color);
}

.offer__details h4 {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
}

.offer__details p {
  color: var(--text-light);
}

.testimony__grid {
  margin-top: 4rem;
  display: grid;
  gap: 1rem;
}

.testimony__card {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.testimony__card:hover {
  background-color: #ffe4b5;
}

.testimony__card__header {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.testimony__card img {
  max-width: 60px;
  border-radius: 100%;
  background-color: var(--white);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

.testimony__card h5 {
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--text-dark);
  transition: 0.3s;
}

.testimony__card h6 {
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-light);
  transition: 0.3s;
}

.testimony__card h4 {
  margin-block: 1rem 0.5rem;
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--text-dark);
  transition: 0.3s;
}

.testimony__card p {
  margin-bottom: 1rem;
  color: var(--text-light);
  transition: 0.3s;
  font-style: italic;
}

.testimonial__card__text {
  position: relative;
  font-family: "Georgia", serif;
  color: var(--text-light);
  line-height: 1.6;
  max-width: 600px;
  margin: auto;
}

.quote-icon {
  position: absolute;
  width: 50px;
  height: 50px;
}

.quote-text {
  display: block;
  padding-left: 40px;
}

.testimony__card__star {
  display: flex;
  margin-bottom: 10px;
}

.premium-stars {
  width: 120px;
  height: auto;
  transition: transform 0.3s ease-in-out;
}

.premium-stars:hover {
  transform: scale(1.05);
}

.footer__container {
  display: grid;
  gap: 4rem 2rem;
}

.footer__logo {
  margin-bottom: 2rem;
}

.footer__col p {
  max-width: 400px;
  color: var(--text-light);
}

.footer__col h4 {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-dark);
}

.footer__links {
  display: grid;
  gap: 1rem;
}

.footer__links a {
  color: var(--text-light);
}

.footer__links a:hover {
  color: var(--primary-color);
}

.footer__links a span {
  font-size: 1.25rem;
}

.footer__bar {
  padding: 1rem;
  font-size: 0.9rem;
  color: var(--text-light);
  text-align: center;
}

@media (width > 768px) {
  .header__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__image {
    grid-area: 1/2/2/3;
  }

  .header__content :is(h1, p, .bar) {
    text-align: left;
  }

  .steps__grid {
    margin-top: 6rem;
    grid-template-columns: repeat(4, 1fr);
  }

  .steps__card:nth-child(2n - 1) {
    transform: translateY(-2rem);
  }

  .explore__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .offer__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .testimony__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(5, 1fr);
  }

  .footer__col:nth-child(1) {
    grid-column: 1/3;
  }
}
